<div class="main-container">

    <div class="company-logo-container">

    </div>

    <div class="mid-links">

        <a class="link" routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="link" routerLink="/class-create" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Create Class</a>
        <a class="link" routerLink="/signin" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Sign In</a>
        <a class="link" routerLink="/principal-dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Principal Panel</a>
        <a class="link" routerLink="/teacher-dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Teacher Panel</a>
        <a class="link" routerLink="/schedule" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Schedule</a>
        <a class="link" routerLink="/whiteboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Whiteboard</a>
        <a class="link" routerLink="/student-dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Student Panel</a>

    </div>

    <div class="signin-signup-button-container">

    </div>

</div>