.main-container
{
    width: 100%;
    height: 100vh;

    overflow: hidden;

    background-color: #F5F9FD;
}

.title-bar-container
{
    width: 100%;

    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;

    background-color: white;
    box-shadow: 1px 1px 10px #AAAAAA;
}

.title-bar-inner-container
{
    width: 80%;
    height: 12vh;
    margin: auto;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
}

.title-bar-links-container
{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    gap: 50px;
}

.link
{
    font-family: "Poppins";
    font-size: 24px;
    font-weight: 500;

    text-decoration: none;
    color: black;
}

.active-link
{
    color: #005EEE;
    font-weight: 600;
}

.title-bar-profile-container
{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.notification-image
{
    margin-right: 40px;
}

.profile-image
{
    margin-right: 15px;
}

.name-and-user
{
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.name
{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 32px;

    color: #005EEE;

    padding: 0;
    margin: 0;

    line-height: 100%;
}

.username
{
    font-family: "Poppins";
    font-weight: 500;
    font-size: 22px;

    color: black;

    padding: 0;
    margin: 0;

    line-height: 100%;
}

.dashboard-content-container
{
    height: 88vh;
    width: 80%;
    margin: auto;
}

.row-title
{
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 500;

    margin: 0;
    padding: 0;

    margin-top: 25px;
}

.card
{
    display: inline-flex;
    flex-direction: row;

    gap: 20px;

    padding: 10px 15px;
    background-color: white;

    border-radius: 12px;

    min-width: 350px;

    box-shadow: 1px 1px 5px #BBBBBB;
}

.card-title
{
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 500;

    margin: 0;
    padding: 0;

    line-height: 100%;
}

.card-value
{
    font-family: "Poppins";
    font-size: 36px;
    font-weight: 600;

    margin: 0;
    padding: 0;

    line-height: 100%;
}

.card-inner-container
{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: start;

    width: 100%;

    gap: 5px;
}

.cards-row
{
    display: flex;
    flex-direction: row;
    gap: 40px;

    max-width: 100%;
    flex-wrap: wrap;

    max-height: 25vh;
    overflow: hidden;

    padding: 5px;
}


progress {
    border: 0;
    height: 20px;
    border-radius: 4px;

    color: blue;

    margin-bottom: 5px;
}
progress::-webkit-progress-bar {
    border: 0;
    height: 20px;
    border-radius: 4px;

    background-color: #E8EEF5;
}
progress::-webkit-progress-value {
    border: 0;
    height: 20px;
    border-radius: 4px;

    background-color: #005EEE;
}
progress::-moz-progress-bar {
    border: 0;
    height: 20px;
    border-radius: 4px;

    color: #005EEE;
    background-color: #E8EEF5;
}

.flex-row
{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 10px;
}

.progress-val
{
    margin: 0;
    padding: 0;

    margin-bottom: 5px;
}

.card-icon
{
    width: 70px;
}

.lesson-number
{
    padding: 0;
    margin: 0;

    font-family: "Poppins";
    font-size: 18px;
    font-weight: 300;

    line-height: 100%;

    user-select: none;
}

.lesson-name
{
    padding: 0;
    margin: 0;

    font-family: "Poppins";
    font-size: 30px;
    font-weight: 500;

    line-height: 100%;

    user-select: none;
}

.lesson-day
{
    padding: 0;
    margin: 0;

    font-family: "Poppins";
    font-size: 18px;
    font-weight: 300;

    line-height: 100%;

    user-select: none;
}

.lesson-time-left
{
    padding: 0;
    margin: 0;

    font-family: "Poppins";
    font-size: 18px;
    font-weight: 300;

    line-height: 100%;

    user-select: none;
}

.flex-row-space-between
{
    display: flex;
    flex-direction: row;

    width: 100%;

    justify-content: space-between;
}

.upcoming-classes-row
{
    margin-top: 55px;
}

.shortcuts-row
{
    margin-top: 55px; 
}

.card-button
{
    display: inline-flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    padding: 10px 15px;
    background-color: white;

    border-radius: 12px;

    min-width: 348px;

    box-shadow: 1px 1px 4px #DDDDDD;

    height: 70px;
}

.card-button:hover
{
    cursor: pointer;
}

.button-text
{
    font-family: "Poppins";
    font-size: 28px;
    font-weight: 500;

    padding: 0;
    margin: 0;
}