<div class="main-container">

    <div class="toolbar-container">

        <p class="page-name">Weekly Schedule</p>       

    </div>

    <div class="whiteboard-area">

        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <th class="left-th">8AM</th>
                    <td [rowSpan]="someVariable">{{sundayClasses[0].className}}</td>
                    <td>{{mondayClasses[0].className}}</td>
                    <td>{{tuesdayClasses[0].className}}</td>
                    <td>{{wednesdayClasses[0].className}}</td>
                    <td>{{thursdayClasses[0].className}}</td>
                    <td>{{fridayClasses[0].className}}</td>
                </tr>
                <tr>
                    <th class="left-th">9AM</th>
                    <td>{{sundayClasses[1].className}}</td>
                    <td>{{mondayClasses[1].className}}</td>
                    <td>{{tuesdayClasses[1].className}}</td>
                    <td>{{wednesdayClasses[1].className}}</td>
                    <td>{{thursdayClasses[1].className}}</td>
                    <td>{{fridayClasses[1].className}}</td>
                </tr>
                <tr>
                    <th class="left-th">10AM</th>
                    <td>{{sundayClasses[2].className}}</td>
                    <td>{{mondayClasses[2].className}}</td>
                    <td>{{tuesdayClasses[2].className}}</td>
                    <td>{{wednesdayClasses[2].className}}</td>
                    <td>{{thursdayClasses[2].className}}</td>
                    <td>{{fridayClasses[2].className}}</td>
                </tr>
                <tr>
                    <th class="left-th">11AM</th>
                    <td>{{sundayClasses[3].className}}</td>
                    <td>{{mondayClasses[3].className}}</td>
                    <td>{{tuesdayClasses[3].className}}</td>
                    <td>{{wednesdayClasses[3].className}}</td>
                    <td>{{thursdayClasses[3].className}}</td>
                    <td>{{fridayClasses[3].className}}</td>
                </tr>
                <tr>
                    <th class="left-th">12PM</th>
                    <td>{{sundayClasses[4].className}}</td>
                    <td>{{mondayClasses[4].className}}</td>
                    <td>{{tuesdayClasses[4].className}}</td>
                    <td>{{wednesdayClasses[4].className}}</td>
                    <td>{{thursdayClasses[4].className}}</td>
                    <td>{{fridayClasses[4].className}}</td>
                </tr>
                <tr>
                    <th class="left-th">1PM</th>
                    <td>{{sundayClasses[5].className}}</td>
                    <td>{{mondayClasses[5].className}}</td>
                    <td>{{tuesdayClasses[5].className}}</td>
                    <td>{{wednesdayClasses[5].className}}</td>
                    <td>{{thursdayClasses[5].className}}</td>
                    <td>{{fridayClasses[5].className}}</td>
                </tr>
                <tr>
                    <th class="left-th">2PM</th>
                    <td>{{sundayClasses[6].className}}</td>
                    <td>{{mondayClasses[6].className}}</td>
                    <td>{{tuesdayClasses[6].className}}</td>
                    <td>{{wednesdayClasses[6].className}}</td>
                    <td>{{thursdayClasses[6].className}}</td>
                    <td>{{fridayClasses[6].className}}</td>
                </tr>
                <tr>
                    <th class="left-th">3PM</th>
                    <td>{{sundayClasses[7].className}}</td>
                    <td>{{mondayClasses[7].className}}</td>
                    <td>{{tuesdayClasses[7].className}}</td>
                    <td>{{wednesdayClasses[7].className}}</td>
                    <td>{{thursdayClasses[7].className}}</td>
                    <td>{{fridayClasses[7].className}}</td>
                </tr>
                <tr>
                    <th class="left-th">4PM</th>
                    <td>{{sundayClasses[8].className}}</td>
                    <td>{{mondayClasses[8].className}}</td>
                    <td>{{tuesdayClasses[8].className}}</td>
                    <td>{{wednesdayClasses[8].className}}</td>
                    <td>{{thursdayClasses[8].className}}</td>
                    <td>{{fridayClasses[8].className}}</td>
                </tr>
                <tr>
                    <th class="left-th no-border">5PM</th>
                </tr>
            </tbody>
        </table>
        
    </div>

</div>